<!-- Validation failure messages -->
<% if @place.present? %>
  <% if @place.errors.any? %>
    <% @place.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>


<div class="container">
<div class="row">
        <div class="col-xs-12">
        Add a new recommendation
        </div>
    </div>



 <div class="row">
        <div class="col-md-6">
  <div class="card-body">
    <form action="/places/results.html">
      <div class="form-group">
      
        <label for="city">City</label>
        <input type="text"  class="form-control"  name="city" id="city">
      
        <label for="the_address">Search Term</label>
        <input type="text"  class="form-control"  name="search_term" id="search_term">
      
      
      
      </div>

      <button class="btn btn-outline-info btn-block">
        Search!
      </button>
    </form>
  </div>  <!-- card-body -->
  <a href="/places">
  Go back
</a>
</div>  <!-- card -->


 <div class="col-md-3">
<style>
#map {
  width: 600px;
  height: 450px;
  

}
</style>

<div id="map"></div>
  <script>
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 37.09024, lng: -95.712891},
      zoom: 3.5
    });

  };
  
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>


</div>

</div>

</div>
</container>
